.MenuOpcoes{
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    border-radius: 3px;
    
    position: absolute;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 30vh auto;

    grid-template-areas: "." "Menu";

    background: rgba(0, 0, 0, 0.164);
}

.Menu{
    box-sizing: border-box;
    background: rgb(245, 247, 248);
    color: #414141;
    box-shadow: 0 0 25px #0000003a;
    border-radius: 3px;
    padding: 15px 40px;
    margin: 0 auto;
    
    width: 40vw;
    max-width: 1000px;
    min-height: 20vh;
    max-height: 40vh;

    grid-area: Menu;
}

@media(max-width: 1000px){
    .Menu{
        width: 60vw;
    }
}

.header{
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h3{
    display: inline-block;
}

.scrollBox{
    height: 75%;
    overflow-y: auto;
    scroll-behavior: smooth;
}