.ButtonClose{
    margin: 20px 0;
    width: 30px; height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ButtonClose i{
    font-size: 1.5rem;
    cursor: pointer;
}

.ButtonClose i:hover{
    color: #646464;
}
