.boxItens{
    overflow-y: scroll;
    min-height: 10vh;
    max-height: 40vh;

    display: grid;
    grid-template-columns: auto auto auto;
}

@media(max-width: 720px){
    .boxItens{
    grid-template-columns: auto;
    grid-template-rows: auto;

    }
}

.Opcao{
    background-color: rgb(224, 224, 224);
    border-radius: .2rem;
    padding: 0 1rem;
    margin: .5rem;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Opcao:hover{
    background-color: rgb(179, 179, 179);
}

.boxTextoCores{
    overflow-y: scroll;
    min-height: 10vh;
    max-height: 40vh;

    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.textoCor{
    margin: 10px;

    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    cursor: pointer;
    border: 3px solid #41414100;

    transition: .1s ease-in-out all;
    border: 3px solid #ffffff;
}

.textoCor:hover{
    border: 3px solid #000000;
    box-shadow: 0 0;
    display: block;
    transform: scale(40%);
}

.Opcao i{
    margin-right: 1rem;
}



.h1{
    font-size: 2rem;
}

.h2{
    font-size: 1.7rem;
}

.h3{
    font-size: 1.3rem;
}

.Preto{
    background: black;
}

.Cinza{
    background: #414141;
}

.Roxo{
    background: #512DA8;
}

.Azul{
    background: #1322c7;
}

.Verde{
    background: #51b401;
}

.Amarelo{
    background: #FFB900;
}

.Laranja{
    background: #F7630C; 
}

.Vermelho{
    background: #E81123; 
}

.bg_Cinza{
    background: #41414165;
}

.bg_Roxo{
    background: #512DA865;
}

.bg_Azul{
    background: #1322c765;
}

.bg_Verde{
    background: #52b40165;
}

.bg_Amarelo{
    background: #FFB90065;
}

.bg_Laranja{
    background: #F7630C65; 
}

.bg_Vermelho{
    background: #E8112365; 
}