.bloco{
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: inline-block;

    margin: 0; padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bloco:hover{
    background: #ccc;
}

.bloco i{
    font-size: 1.3rem;
}


.bloco a{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: none;
    position: relative;
    top: -15px;
    right: -5px;
<<<<<<< HEAD

    display: flex;
}


.Preto{
    background: black;
}

.Cinza{
    background: #414141;
=======
    border:3px solid rgb(245, 247, 248) ;
>>>>>>> c5b90e6e5aec357b6100b98f13032a2c18527e51
}

.Roxo{
    background: #512DA8;
}

.Azul{
    background: #1322c7;
}

.Verde{
    background: #51b401;
}

.Amarelo{
    background: #FFB900;
}

.Laranja{
    background: #F7630C; 
}

.Vermelho{
    background: #E81123; 
}

.bg_Cinza{
    background: #41414165;
}

.bg_Roxo{
    background: #512DA865;
}

.bg_Azul{
    background: #1322c765;
}

.bg_Verde{
    background: #52b40165;
}

.bg_Amarelo{
    background: #FFB90065;
}

.bg_Laranja{
    background: #F7630C65; 
}

.bg_Vermelho{
    background: #E8112365; 
}
