@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
*{
    font-family: Roboto, sans-serif;
}

body, html, #root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(228, 228, 228);
}