@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
*{
    font-family: Roboto, sans-serif;
}

body, html, #root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    background: rgb(228, 228, 228);

    overflow-x: hidden;
}

.contentIndex{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    height: auto;
    padding-top: 3rem;
}

.contentSobre{
    display: flex;
    justify-content: center;
    min-height: 87vh;
    height: auto;
    padding-top: 5rem;
}

.sobreArticle{
    box-sizing: border-box;
    background: rgb(245, 247, 248);
    color: #414141;
    box-shadow: 0 0 25px #00000017;

    width: 60vw;
    max-width: 1000px;
    height: auto;
    max-height: 562.5px;

    padding: 20px 40px;
}

.sobreArticle h1{
    font-size: 1.5rem;
    border-bottom: 2px solid rgb(204, 204, 204);
}