.Item{
    background: rgb(224, 224, 224);
    padding: 0 20px;
    height: 1.5rem;
    margin: 8px 0;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    font-size: 1.2rem;
}
.Preto{
    color: black;
}

.Cinza{
    color: #414141;
}

.Roxo{
    color: #512DA8;
}

.Azul{
    color: #1322c7;
}

.Verde{
    color: #51b401;
}

.Amarelo{
    color: #FFB900;
}

.Laranja{
    color: #F7630C; 
}

.Vermelho{
    color: #E81123; 
}

.h1{
    font-size: 2rem;
}

.h2{
    font-size: 1.6rem;
}

.h3{
    font-size: 1.4rem;
}

.bg_Cinza{
    background: #41414165;
}

.bg_Roxo{
    background: #512DA865;
}

.bg_Azul{
    background: #1322c765;
}

.bg_Verde{
    background: #52b40165;
}

.bg_Amarelo{
    background: #FFB90065;
}

.bg_Laranja{
    background: #F7630C65; 
}

.bg_Vermelho{
    background: #E8112365; 
}
